{% extends 'template.twig' %}
{% block title %}
    Développeur PHP
{% endblock %}

{% block content %}
    {# Page Header #}
    <header class="masthead" style="background-image: url('/images/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Léo Moille</h1>
                        <span class="subheading">Développeur PHP</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% if confirmationMessage is not null %}
        <div class="container px-4 px-lg-5">
            <div class="alert {{ confirmationMessage.valid ? 'alert-primary' : 'alert-danger' }}" role="alert">
                {{ confirmationMessage.message }}
            </div>
        </div>
    {% endif %}
    {# Latest post #}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="/blog/post/{{ post.id }}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.preContent }}</h3>
                        </a>
                        <div class="post-meta">
                            Publié par
                            <a href="#">{{ post.authorName }}</a>
                            le
                            {{ post.publicationDate | date("d M Y à h:i") }}
                            {% if post.modification_date %}
                                <div>
									<span class="small">
										Dernière modification le
										{{ post.modificationDate | date("d M Y à h:i") }}
									</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {# Divider #}
                    <hr class="my-4"/>
                {% endfor %}
                {# Pager #}
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" href="/blog">Voir toutes les publications →</a>
                </div>
            </div>
        </div>
    </div>
    {# Contact #}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 my-5">
                <h2>Contact</h2>
                <p>Entrez facilement en contact avec moi dès maintenant.</p>
                <form id="contactForm" method="post" action="/">
                    <div class="form-floating">
                        <input class="form-control" id="name" name="contactForm[name]" type="text"
                               placeholder="Votre nom" required/>
                        <label for="name">Nom</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="email" name="contactForm[email]" type="email"
                               placeholder="Votre email" required/>
                        <label for="email">Adresse Email</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" id="message" name="contactForm[message]"
                                  placeholder="Votre message" style="height: 12rem"
                                  required></textarea>
                        <label for="message">Message</label>
                    </div>
                    <div class="form-check mb-4">
                        <input class="form-check-input" id="consent" name="contactForm[rgpd]" type="checkbox" required/>
                        <label class="form-check-label" for="consent">J'accepte que les informations saisies ci-dessus
                            soient utilisées
                            exclusivement dans le cadre de ma demande de contact.</label>
                    </div>
                    {# Submit Button #}
                    <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Envoyer
                    </button>
                </form>
            </div>
        </div>
    </div>
    {# Compétences #}
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12 col-xl-7 my-5">
                <h2 class="text-center py-3">Mes compétences</h2>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col col-md-6">
                        <div class="card border-0 p-4">
                            <img src="/images/PHP.png" class="card-img-top w-50 m-auto" alt="...">
                            <div class="card-body text-center">
                                <h3 class="h5 card-title ">PHP</h3>
                                <p class="card-text">
                                    Culpa dolore, doloremque
                                    error facere fugit iure labore modi porro unde velit? Accusantium animi asperiores
                                    autem deleniti facilis magni, nobis saepe ut.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="card border-0 p-4">
                            <img src="/images/Twig.png" class="card-img-top w-50 m-auto" alt="...">
                            <div class="card-body text-center">
                                <h3 class="h5 card-title ">Twig</h3>
                                <p class="card-text">
                                    Accusantium aliquid,
                                    aperiam autem consequuntur delectus doloremque facere in ipsa ipsum laborum modi
                                    molestiae quisquam quos. Eaque explicabo quo sed tenetur voluptatibus.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="card border-0 p-4">
                            <img src="/images/MySQL.png" class="card-img-top w-50 m-auto" alt="...">
                            <div class="card-body text-center">
                                <h3 class="h5 card-title ">MySQL</h3>
                                <p class="card-text">
                                    Adipisci doloremque ea
                                    fuga illum odio qui? Aspernatur consequuntur deserunt dolorum enim in magni
                                    necessitatibus nostrum, obcaecati officia praesentium recusandae voluptas
                                    voluptates.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="card border-0 p-4">
                            <img src="/images/HTML5.png" class="card-img-top w-50 m-auto" alt="...">
                            <div class="card-body text-center">
                                <h3 class="h5 card-title ">HTML 5</h3>
                                <p class="card-text">
                                    Aut doloribus maiores
                                    officia quasi? Ab consequatur deleniti expedita id illo impedit ipsa, molestias,
                                    nostrum numquam praesentium quibusdam quisquam repudiandae, sunt ullam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="card border-0 p-4">
                            <img src="/images/CSS3.png" class="card-img-top w-50 m-auto" alt="...">
                            <div class="card-body text-center">
                                <h3 class="h5 card-title ">CSS 3</h3>
                                <p class="card-text">
                                    Aperiam deserunt
                                    dignissimos dolorem, eius facere fuga harum hic impedit incidunt inventore ipsa
                                    libero natus odit officia provident, quisquam, reiciendis suscipit unde?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="card border-0 p-4">
                            <img src="/images/Javascript.png" class="card-img-top w-50 m-auto" alt="...">
                            <div class="card-body text-center">
                                <h3 class="h5 card-title ">
                                    JavaScript</h3>
                                <p class="card-text">
                                    Consectetur deleniti ex
                                    itaque nobis voluptatem? Architecto debitis, eos esse fugit ipsum libero maiores,
                                    placeat provident rerum saepe sequi tempore tenetur, veritatis?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12 col-xl-7 my-5 text-center">
                <h2 class="py-3">Découvrez mon CV</h2>
                <a href="assets/CV_Placeholder.pdf" target="_blank" class="btn btn-labeled btn-primary">
                    Télécharger <span class="btn-label"><i class="bi bi-download"></i></span></a>
            </div>
        </div>
    </div>
{% endblock %}
