{% extends 'template.twig' %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    {# Page Header #}
    <header class="masthead" style="background-image: url('/images/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.preContent }}</h2>
                        <span class="meta">
							Publié par
							<b>{{ post.authorName }}</b>
							le
							{{ post.publicationDate | date("d M Y à h:i") }}
                            {% if post.modificationDate %}
                                <div>
									<span class="small">
										Dernière modification le
										{{ post.modificationDate | date("d M Y à h:i") }}
									</span>
								</div>
                            {% endif %}
						</span>
                        {% if session.user.isAdmin == 1 %}
                            <a class="mt-4 btn btn-primary text-uppercase"
                               href="/blog/editPost/{{ post.id }}">Modifier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    {# Post Content #}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ post.content | raw }}
                </div>
            </div>
        </div>
    </article>
    <hr>
    {# Commentaires #}
    <section id="commentaire" class="mb-4">
        <div class="container px-4 px-lg-5">
            <h3>Commentaires ({{ comments | length }})</h3>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="mb-3">
                    {# Boucles commentaires #}
                    {% for comment in comments %}
                        {% if comment.isApproved == 1 %}
                            <div class="row g-0 align-items-baseline border-bottom">
                                <div class="col-md-4">
                                    <div class="">
                                        <h5 class="card-title">{{ comment.authorName ? comment.authorName : 'Utilisateur supprimé' }}</h5>
                                        <p class="card-subtitle">
                                            <small class="text-muted">Publié le
                                                {{ comment.commentDate | date("d M Y à h:i") }}</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <p class="">{{ comment.comment }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <p>Soyez le premier à me laisser un commentaire !</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <h3 class="h4">Commenter</h3>
            {% if not session.user.name %}
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="mb-3">
                        <p>Vous devez être connecté pour publier un commentaire !</p>
                        <p>
                            <a href="/auth/login">Connexion</a> / <a href="/auth/signin">Inscription</a>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if session.user.name is defined %}
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="mb-3">
                        <form method="post" action="/blog/addComment/{{ post.id }}">
                            <p>Vous êtes connecté en tant que
                                <b>{{ session.user.name }}</b>
                            </p>
                            <div class="form-floating">
                                <textarea class="form-control" id="message" placeholder="Votre message" name="comment"
                                          style="height: 12rem" required></textarea>
                                <label for="message">Message</label>
                            </div>
                            <br/>
                            {# Submit Button #}
                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Envoyer
                            </button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
