{% extends 'template.twig' %}
{% block title %}
    Modification de "{{ post.title }}"
{% endblock %}

{% block content %}
    {# Page Header #}
    <header class="masthead" style="background-image: url('/images/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Léo Moille</h1>
                        <span class="subheading">Modification de "{{ post.title }}"</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-9">
                    <form action="/admin/updatePost" method="post">
                        <label hidden>
                            <input type="text" hidden name="post[id]" value="{{ post.id }}">
                            <input type="text" hidden name="post[author]" value="{{ post.author }}">
                            <input type="text" hidden name="post[publicationDate]" value="{{ post.publicationDate }}">
                        </label>
                        <div class="form-group">
                            <label for="post-title">
                                Titre de l'article</label>
                            <input autocomplete="off" type="text" class="form-control" id="post-title"
                                   name="post[title]"
                                   value="{{ post.title }}">
                        </div>
                        <div class="form-group">
                            <label for="pre-content">
                                Extrait</label>
                            <textarea autocomplete="off" class="form-control" id="pre-content" name="post[preContent]"
                                      rows="3">{{ post.preContent }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="content">
                                Contenu de l'article</label>
                            <textarea autocomplete="off" class="form-control mb-3" id="content" name="post[content]"
                                      rows="15">{{ post.content }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Mettre à jour
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
